.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.border-skin-border {
  border-color: #343434;
}
.dark .border-skin-border {
  border-color: #343434;
}

.dark .bg-skin-bg {
  background-color: #1c1b20;
}
.bg-skin-bg {
  background-color: white;
}

.alert_td {
  animation: alert_td 5s infinite;
}

.ant-spin .ant-spin-dot-holder{
  color: #343434;
}
.dark .ant-spin .ant-spin-dot-holder{
  color: white;
}
.ant-spin-nested-loading .ant-spin-blur {
  height: 92dvh;
}

@keyframes alert_td {
  0%{background-color: rgb(170, 168, 168);}
  100%{background-color: transparent;}
}
/*     */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

